*Sidebar*/
 
 .new-room-button {
     border: 1px solid black;
     padding: 1rem;
     margin-top: 3rem;
     margin-bottom: 1rem;
 }
 
 .new-room-button:hover {
     cursor: pointer;
 }
 
 .room-nav {
     background-color: lightgray;
     position: fixed;
     width: 25%;
     top: 0px;
     left: 0px;
     height: 100%;
     text-align: left;
     padding-left: 5px;
 }
 
 .room-name {
     margin-top: 2rem;
 }
 
 .room-name:hover {
     cursor: pointer;
 }
 
 /*Chats*/ 
 